/* https://stackoverflow.com/questions/59588519/how-do-you-make-your-own-customize-the-scroll-bar-in-electron */
.scroll-enabled {
    overflow-y: scroll;
    overflow-x: hidden;
    --scrollbar-background: #195ad2;
}

.scroll-enabled::-webkit-scrollbar {
    width: 20px;
}

.scroll-enabled::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

.scroll-enabled::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-background);
    border-radius: 12px;
    border: 7px solid rgba(0,0,0,0);
    background-clip: content-box;
    min-width: 32px;
    min-height: 32px;
}

.scroll-enabled::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    color: #FFF;
    overflow-y: hidden;
}

.drag-region {
    -webkit-app-region: drag;
    user-select: none;
}

.window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
}

.quit-button:hover {
    background: #E81123 !important;
}

.quit-button:active {
    background: #F1707A !important;
}

.close-button:hover {
    background: #083c9e !important;
}

.close-button:active {
    background: #195ad2 !important;
}