/* 
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0 !important;
    max-width: 100%;
    padding: 0 !important;
} 
*/

.MuiDrawer-paper {
    width: 80% !important;
}

.windows-style-button {
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: 35%;
    background-repeat: no-repeat;
}

.material-style-button {
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

#close-button-inner {
    background-image: url('./icons/close.png');
}

#min-button-inner {
    background-image: url('./icons/min.png');
}

#quit-button-inner {
    background-image: url('./icons/outline_power_settings_new_white_48dp.png');
}

#zoom-in-button-inner {
    background-image: url('./icons/outline_zoom_in_white_48dp.png');
}

#zoom-out-button-inner {
    background-image: url('./icons/outline_zoom_out_white_48dp.png');
}

/* Basic styling */

/* https://stackoverflow.com/questions/59588519/how-do-you-make-your-own-customize-the-scroll-bar-in-electron */
.scroll_enabled {
    overflow: scroll;
}

.scroll_enabled::-webkit-scrollbar {
    width: 20px;
}

.scroll_enabled::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}
.scroll_enabled::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#083c9e, #195ad2);
    border-radius: 12px;
    border: 5px solid rgba(0,0,0,0);
    background-clip: content-box;
    min-width: 32px;
    min-height: 32px;
}
.scroll_enabled::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

/* 
some colors
#a7caed
#195ad2
#083c9e
#0087ba

#d9ace0
#9c27b0
#821895

green #2e7d32
red #d32f2f
lightorange #fff4e5
*/

/* TITLE BAR */
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #1A2933;
    color: #FFF;
}

h1 {
    margin: 0 0 10px 0;
    font-weight: 600;
    line-height: 1.2;
}

p {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.4);
}

/* Styling of window frame and titlebar */
body {
    overflow-y: hidden;
}

#titlebar {
    display: block;
    position: fixed;
    height: 32px;
    width: calc(100% - 2px);
    z-index: 9999;
}

.maximized #titlebar {
    width: 100%;
    padding: 0;
}

#main {
    height: calc(100% - 32px);
    margin-top: 32px;
    padding: 20px;
    overflow-y: auto;
}

#titlebar {
    padding: 4px;
}

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

#titlebar {
    color: #FFF;
}

#titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
}

#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
}

.maximized #window-title {
    margin-left: 12px;
}

#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(5, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#window-controls {
    -webkit-app-region: no-drag;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media (-webkit-device-pixel-ratio: 1.5),
(device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2),
(device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3),
(device-pixel-ratio: 3) {
    #window-controls .icon {
        width: 10px;
        height: 10px;
    }
}

#window-controls .button {
    user-select: none;
}

#window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
}

#quit-button:hover {
    background: #E81123 !important;
}

#quit-button:active {
    background: #F1707A !important;
}

#close-button:hover {
    background: #083c9e !important;
}

#close-button:active {
    background: #195ad2 !important;
}

#close-button:active .icon {
    filter: invert(1);
}

#quit-button {
    grid-column: 3;
}

#min-button {
    grid-column: 4;
}

#close-button {
    grid-column: 5;
}

#restore-button {
    display: none !important;
}

.maximized #restore-button {
    display: flex !important;
}

.maximized #max-button {
    display: none;
}